html,
body {
  padding: 0;
  margin: 0;
  font-size: calc( 1000vw / 1920 );
  font-family: Hiragino Mincho Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  background: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* main */
.main__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__images img {
  width: 50%;
  height: auto;
}



