html,
body {
  padding: 0;
  margin: 0;
  font-size: calc(1000vw / 1920);
  font-family: Hiragino Mincho Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* main */
.container {
  padding: 10rem 0 0;
}
.main__mv {
  width: 100%;
  height: 108rem;
  max-height: calc(100vh - 10rem);
  padding: 0 10rem 0;
  position: relative;
  background-color: #fafafa;
}
.main__head {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.main__head-title {
  content: '';
  position: absolute;
  top: -2rem;
  right: 10rem;
}
.main__head-description {
  content: '';
  position: absolute;
  top: 49rem;
  right: 10rem;
}
.main__images {
}
.main__images img {
  border-radius: 2rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  backface-visibility: hidden;
}
.main__images img:first-child {
  width: 80rem;
  height: auto;
  max-height: 49rem;
  object-fit: cover;
  content: '';
  position: absolute;
  top: 0rem;
  left: 43.2rem;
  z-index: 2;
}
.main__images img:last-child {
  width: 88rem;
  height: auto;
  max-height: 54rem;
  object-fit: cover;
  content: '';
  position: absolute;
  top: 38rem;
  left: 10rem;
  z-index: 1;
}
.main__content-title {
  width: 100%;
}

/* footer */
.footer__copyright {
  margin: 7.6rem 0 0;
}
.footer__copyright p {
  font-size: 2rem;
  line-height: 1;
  color: rgba(250, 250, 250, 0.6);
}

@media (min-width: 1920px) {
  /* main */
  .container {
    padding: 100px 0 0;
  }
  .main__mv {
    height: 1080px;
    max-height: calc(100vh - 100px);
    padding: 0 100px 0;
  }
  .main__head-description {
    top: 490px;
    right: 100px;
  }
  .main__images img {
    border-radius: 20px;
  }
  .main__images img:first-child {
    width: 800px;
    max-height: 430px;
    top: 0px;
    left: 432px;
  }
  .main__images img:last-child {
    width: 880px;
    max-height: 490px;
    top: 350px;
    left: 100px;
  }

  /* footer */
  .footer__copyright {
    margin: 76px 0 0;
  }
  .footer__copyright p {
    font-size: 20px;
  }
}
