html,
body {
  padding: 0;
  margin: 0;
  font-size: calc(1000vw / 1920);
  font-family: Hiragino Mincho Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* main */
.container {
  padding: 10rem 0 0;
}
.container-local {
  padding: 0 0 0;
}

.main__mv {
  width: 100%;
  height: 108rem;
  max-height: calc(100vh - 10rem);
  padding: 0 10rem 0;
  position: relative;
  background-color: #fafafa;
}
.main__head {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.main__head-title {
  content: '';
  position: absolute;
  top: -2rem;
  right: 10rem;
}
.main__head-description {
  content: '';
  position: absolute;
  top: 60rem;
  right: 10rem;
}
.main__images {
}
.main__images img {
  border-radius: 2rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  backface-visibility: hidden;
}
.main__images > div:first-child img {
  width: 88rem;
  height: auto;
  max-height: 54rem;
  object-fit: cover;
  content: '';
  position: absolute;
  top: 38rem;
  left: 10rem;
  z-index: 1;
}
.main__images > div:last-child img {
  width: 80rem;
  height: auto;
  max-height: 49rem;
  object-fit: cover;
  content: '';
  position: absolute;
  top: 0rem;
  left: 43.2rem;
  z-index: 2;
}
.main__content-title {
  width: 100%;
}

/* footer */
.footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 0;
}
.footer__sns > a:first-child:hover svg {
  color: #000;
}
.footer__sns > a:last-child:hover svg {
  color: #00acee;
}
.footer__sns svg {
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
  color: #555;
  transition: all ease 0.4s;
}
.footer__sns svg * {
  fill: currentColor;
}
.footer__copyright {
  margin: 2.4rem 0 0;
}
.footer__copyright p {
  font-size: 2rem;
  line-height: 1;
  color: #555;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: calc(1000vw / 768);
  }
  /* main */
  .container {
    padding: 10rem 0 0;
  }
  .main__mv {
    width: 100%;
    height: 108rem;
    max-height: calc(100vh - 10rem);
    padding: 0 10rem 0;
    position: relative;
    background-color: #fafafa;
  }
  .main__head {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .main__head-title {
    content: '';
    position: absolute;
    top: -2rem;
    right: 10rem;
  }
  .main__head-description {
    content: '';
    position: absolute;
    top: 60rem;
    right: 10rem;
  }
  .main__images {
  }
  .main__images img {
    border-radius: 2rem;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    backface-visibility: hidden;
  }
  .main__content-title {
    margin: 0 0 2rem;
  }
  /* footer */
  .footer__sns {
    gap: 2rem;
    margin: 1rem 0 0;
  }
  .footer__copyright {
    margin: 1rem 0 0;
  }
  .footer__copyright p {
    font-size: 2.2rem;
  }
}

@media (min-width: 1920px) {
  /* main */
  .container {
    padding: 100px 0 0;
  }
  .main__mv {
    height: 1080px;
    max-height: calc(100vh - 100px);
    padding: 0 100px 0;
  }
  .main__head-description {
    top: 490px;
    right: 100px;
  }
  .main__images img {
    border-radius: 20px;
  }
  .main__images > div:first-child img {
    width: 880px;
    max-height: 490px;
    top: 350px;
    left: 100px;
  }
  .main__images > div:last-child img {
    width: 800px;
    max-height: 430px;
    top: 0px;
    left: 432px;
  }

  /* footer */
  .footer__sns {
    gap: 20px;
    margin: 20px 0 0;
  }
  .footer__sns svg {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
  }
  .footer__copyright {
    margin: 24px 0 0;
  }
  .footer__copyright p {
    font-size: 20px;
  }
}

.noise::after {
  animation: noise 9s steps(10) infinite;
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  filter: brightness(210%);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

@media screen and (max-width: 768px) {
  .noise::after {
    animation: none;
  }
}

@keyframes noise {
  to {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}
